name: Test & Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install nightly rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        components: rustfmt, clippy

    - name: Lint with clippy
      run: cargo clippy --all-targets --all-features -- -D warnings -D pedantic

    - name: Lint with rustfmt
      run: cargo fmt -- --check

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        channel:
          - stable
          - nightly

    steps:
      - uses: actions/checkout@v2

      - name: Install rust ${{ matrix.channel }}
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.channel }}

      - name: Install grcov
        run: curl -L https://github.com/mozilla/grcov/releases/latest/download/grcov-linux-x86_64.tar.bz2 | tar jxf -

      - name: Run tests with cargo test
        run: cargo test -v
        if: matrix.channel != 'nightly'

      - name: Run tests with test script
        run: ./run_tests.sh
        if: matrix.channel == 'nightly'

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        channel:
          - stable
          - nightly

    steps:
      - uses: actions/checkout@v2

      - name: Install Rust ${{ matrix.channel }}
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.channel }}

      - name: Build Pwerus
        run: cargo build -v
